
.container {
    margin: 5px 5px 5px 5px;
}
.contact-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 35%;
    height: 75%;
    border-radius: 10px;
    background-color: #f4deb3;
    display: flex;
    flex-direction: row;
    margin: 20px 415px;
}
img.contact-img {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    padding: 10px;
}
